<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= @book.title %></h4>
    <h5 class="card-subtitle mb-2 text-muted">$ <%= @book.price %></h5>
    <hr>
    <p class="card-text"><%= @book.content %></p>
  </div>
</div>
